<html>
<header></header>
<body>
<div id='content_div' style='max-width: 600px; width: 600px;'>
    <table bgcolor="F4F6F8" border="0" cellpadding="0" cellspacing="0" width="100%" style="border:0;margin:0;padding:10px;">
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>
            <td><img alt='Webbu' height="48" width="48" src='https://webbu.app/static/imgs/android-chrome-192x192.png' title="Webbu Logo" style="display:block"></td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>  <!-- separator -->
            <td bgcolor="#e6ebf1" colspan="2" height="1" style="border:0;margin:0;padding:0;font-size:1px;line-height:1px;max-height:1px">
                <div>&nbsp;</div>
            </td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>
            <td style="{{font_family}}">Hi {{email_user_part}},</td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>
            <td style="{{font_family}}">{{extra_msg}}</td>
        </tr>
        <tr>
            <td style="{{font_family}}">Here's your link to sign in to Webbu:</td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>
            <td style="{{font_family}}"><a href='{{link}}' style='display:block; margin-left:auto; margin-right:auto; text-align: center; width: 50%; border-radius: 3px; background-color: #000000; color:white; text-decoration: none; padding: 10px;'>Sign in</a></td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>
            <td style="{{font_family}}">This link will only work once but you can get a new one on <a href="https://webbu.app/login">webbu.app/login</a></td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr>
            <td style="{{font_family}}">{{TEAM_LINE}}</td>
        </tr>
        <tr>
            <td style="{{font_family}}">{{FEEDBACK_LINE}}</td>
        </tr>
        <tr>
            <td style="{{font_family}}">{{timestamp}}</td>
        </tr>
        <tr><td><div>&nbsp;</div></td></tr>
        <tr><td><div>&nbsp;</div></td></tr>
</div>
</body>
</html>