<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title data-translation_id="main_title">{{page_title}} - Webbu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/create_skill.css?{{file_ts}}">
        <link href="/static/imgs/favicon.svg" rel="icon" type="image/svg+xml">

    </head>
    <body onload="init_js()">
        <div id='top_menu_div'>
            <a class='top_menu_link' href='/create'>Create</a>
            <a class='top_menu_link' href='/profile'>My Skills</a>
        </div>
        <div id='content_div_1' class='content_div'>
            <h1>{{page_title}}</h1>

            <p>Contact us at hello@webbu.app or join our discord</p> <!-- TODO: add links -->
        </div>
    </body>
</html>
