<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title data-translation_id="main_title">Webbu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/landing.css?{{file_ts}}">
        <link href="/static/imgs/favicon.svg" rel="icon" type="image/svg+xml">

    </head>
    <body onload="">
        {% if user_msg %}
        <p id='user_msg'>{{user_msg}}</p>
        {% endif %}
        <div id='top_bar'>
            <div id='top_bar_inner'>
                <h1>Webbu</h1>
            </div>
        </div>
        <div id='parent_content_div'>
            <div id='content_div_1' class='content_div'>
                <h3>Alexa for your browser</h3>
                <p>You use your browser more than ever. Webbu wants to be right there with you to make things
    a bit better, a bit more convenient. <a href='https://chrome.google.com/webstore/detail/webbu/mbhobmknhidpnafkmpblhpngbahofoob'>Download Webbu for Chrome</a>.</p>
            </div>

            <div id='content_div_2b' class='content_div'>
                <div id='video_div'>
                    <iframe id='video_iframe' src="https://www.youtube-nocookie.com/embed/zMO_GhIEOXU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div id='content_div_3' class='content_div'>
                <h3>Use cases</h3>
                <p>Use the <a href='https://chrome.google.com/webstore/detail/webbu/mbhobmknhidpnafkmpblhpngbahofoob'>Webbu browser extension</a> on any website to do all sorts of tasks:</p>
                <p class='quote'>"make the background blue"</p>
                <p class='quote'>"make the image larger"</p>
                <p class='quote'>"Chart the data on column C"</p>
            </div>
            <div id='content_div_3' class='content_div'>
                <h3>Flexible and Open Source</h3>
                <p>Everyone has different needs, that's why anyone can create skills for webbu.</p>
                <p>Plus, the code is <a href='https://github.com/fersarr/webbu_backend'>open source<a/> - the sky is the limit. <a href='https://github.com/fersarr/webbu_backend'><img id='github_image' src='/static/imgs/GitHub-Mark-64px.png'></a> </p>
            </div>
            <div id='content_div_4' class='content_div'>
                <h3>Join Us</h3>
                <p>We are just getting started, Join us on <a class='webbu_link' target="_blank" href='https://discord.gg/eRRpsuytrG'>Discord</a> or write to us at <a class='webbu_link' href='mailto:hello@webbu.app'>hello@webbu.app</a>.</p>

                <div id='subscribe_div'>
                    <script async data-uid="8b7590a209" src="https://tremendous-leader-4051.ck.page/8b7590a209/index.js"></script>
                </div>
                <!-- <p id='last_text'>*Webbu == Web Buddy</p> -->
            </div>
        </div>
    </body>
</html>
