<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title data-translation_id="main_title">Webbu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/landing.css?{{file_ts}}">
        <link href="/static/imgs/favicon.svg" rel="icon" type="image/svg+xml">

    </head>
    <body onload="">
        {% if user_msg %}
        <p id='user_msg'>{{user_msg}}</p>
        {% endif %}
        <h1>Webbu</h1>
        <div id='parent_content_div'>
            <div id='content_div_1' class='content_div'>
                <h3>Alexa for your browser</h3>
                <p>You use your browser more than ever. Webbu wants to be right there with you to make things
    a bit better, a bit more convenient.</p>
            </div>

            <div id='content_div_2b' class='content_div'>
                <iframe id='video_iframe' width="560" height="315" src="https://www.youtube.com/embed/p-aRm8w36TY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class='quote'>"make the background blue"</p>
                <p class='quote'>"make the image larger"</p>
                <p class='quote'>"Chart the data on column C"</p>
            </div>
            <div id='content_div_3' class='content_div'>
                <p>Everyone has different needs, that's why <label class='bigger_text'>anyone can create skills</label> for webbu.</p>
                <p>Plus, the code is <label class='bigger_text'>open source</label> so the sky is the limit.</p>
            </div>
            <div id='content_div_4' class='content_div'>
                <p>We are just getting started, Join us on <a class='webbu_link' target="_blank" href='https://discord.gg/eRRpsuytrG'>Discord</a> or write to us at <a class='webbu_link' href='mailto:hello@webbu.app'>hello@webbu.app</a>.</p>
                <p id='last_text'>*Webbu == Web Buddy</p>
            </div>
        </div>
    </body>
</html>
