<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>{{page_title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/login_register.css?{{file_ts}}"/>
        <link rel="stylesheet" href="/static/modal_box.css?{{file_ts}}"/>

        <script type="text/javascript" src="/static/login_register.js?{{file_ts}}"></script>
        <script type="text/javascript" src="/static/common.js?{{file_ts}}"></script>
        <script type="text/javascript" src="/static/jquery_351.js"></script>
        <link rel="icon" type="image/svg+xml" href="/static/imgs/favicon.svg" />

        <!-- google signin -->
<!--         <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="645773879159-r184b0fnq37lpidfra53blq2vv5hl7lv.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script> -->

        <!-- navigation menu icon: icon library to show a hamburger menu (bars) on small screens -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {{header_scripts|safe}}

    </head>
    <body onload="">
        <div id='content_div_1'>

            <div id='login_method' class='Polaris-Card'>
                <div id='header_bar'>
                    <img id='header_img' src='/static/imgs/favicon.svg'>
                    <p id='header_text' >Webbu</p>
                </div>

                <p id='signinbox_title'>{{sign_in_title|safe}}</p>
                <div id='login_via_email'>
                    <p id='email_question'>Email</p>
                    <form onsubmit="return  login_or_register_form(event)">
                        <input id='email_login_input' type="text" name="email_input" placeholder="Example: emily@jadebikinis.com" data-hj-allow><input id='email_login_button' type="submit" value="{{login_or_register}}">
                        <input type='submit' style='display: none;'>
                        <input type='text' hidden id='invite_code' value='{{invite_code}}'>
                    </form>
                </div>

                {% if status_color is not none %}
                    <div id='by_email_status_div' style='background-color: {{status_color}}'>
                    {% else %}
                    <div id='by_email_status_div'>
                {% endif %}
                    <p id='by_email_status_text'>{{status_text}}</p>
                </div>
<!-- 
                <p id='or_login'>Or {{login_or_register}} With</p>

                <div id='google_login'>
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
                    <script>
                      function onSignIn(googleUser) {
                        // Useful data for your client-side scripts:
                        var profile = googleUser.getBasicProfile();
                        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                        console.log('Full Name: ' + profile.getName());
                        console.log('Given Name: ' + profile.getGivenName());
                        console.log('Family Name: ' + profile.getFamilyName());
                        console.log("Image URL: " + profile.getImageUrl());
                        console.log("Email: " + profile.getEmail());

                        // The ID token you need to pass to your backend:
                        var id_token = googleUser.getAuthResponse().id_token;
                        console.log("ID Token: " + id_token);

                        make_login(profile.getEmail(), profile.getGivenName(), profile.getFamilyName(), googleUser.getAuthResponse().id_token)
                      }
                    </script>
                </div>
 -->
                {% if not registering %}
                <p id='or_login'>Don't have an account? <a class='switch_mode_link' href='/login?registering=true&{{url_params}}'>Register here</a></p>
                {% else %}
                <p id='or_login'>Already have an account? <a class='switch_mode_link' href='/login?{{url_params}}'>Sign in here</a></p>
                {% endif %}

                <!-- If invited by a user, we need more info since the user does not come from landing page -->
<!--                 {% if invite_by_name|length > 0 %}
                <p id='how_it_works_title'>How it works</p>
                <p class='how_it_works_items'>1. Download the chrome extension.</p>
                <p class='how_it_works_items'>2. Type what you want webbu to do.</p>
                <p id='how_it_works_last_item' class='how_it_works_items'>3. Enjoy. ✨</p>
                {% endif %} -->

            </div>
            <p id='contact_at_bottom'>Need help? <a href='mailto:webbuapp@gmail.com'>webbuapp@gmail.com</a></p>

            <!-- Modal content: feedback/contact pop up box -->
            <div id="feedback_modal_box" class="modal_box">
                <div class="modal_content">
                    <span class="close_modal_box" onclick="hideFeedbackModalBox()">&times;</span>
                    <p id='feedback_title'>How can we help?</p>
                    <textarea id="ta_feedback" placeholder="Please describe any ideas, feedback or projects you want us to help with."></textarea>
                    <input type='text' id="feedback_email" placeholder='Your email address'></br>
                    <input type='button' value='Send' id='send_feedback_button' onclick='sendFeedback(false)'>
                    <p id='feedback_result'></p>
                </div>
            </div>
        </div>
    </body>
</html>